.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
	
}


.fontOutlined {

	-fx-text-fill: white;
        -font-stroke: black !important;
        -font-stroke-width: 2 !important;
        //font-weight: normal !important;
     }
